body{
    min-height: 100%;
    min-height: 100vh;
    min-width: 100%;
    min-width: 100vw;
	display: flex;
	flex-direction:column;
    background: url(../../media/12.jpg) no-repeat center fixed;
    background-size: cover;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.terms-and-conditions {
    color: #561905;
    text-decoration: underline;
    font-style: italic;
}
.scroll-div {
    overflow-y: scroll;
    max-height: 90vh;
}
span.list_details {
    font-size: smaller;
    colour: #ea5809;
    font-style: italic;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-linkedin-square{
    baskground: #3B5998;
    color : white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.navbar{
    margin-bottom: 0;
}
.login-btn{
    width: 100%;
    background-color: #222;
    color: #eee;
}
.login-btn:hover{
    background-color: #000;
    color: #fff;
}
.body-page{
    padding-top: 10px;
    margin-top: 0;
    height: inherit;
	flex: 1;
}
.unlink{
    text-decoration: none;
}
.unlink:hover,.unlink:active,.unlink:link,.unlink:visited{
    text-decoration: None;
    color: black;
}
.panel:hover {
    box-shadow: 5px 10px 5px #222;
    background-color: rgba(200, 200, 200, 0.8);
}
.panel .panel-heading:hover{
    text-decoration: underline;
    font-weight: bold;
}

.container-fluid.form-container{
    box-sizing: border-box;
    width: 100vw;
}
.text{
    color: black;
}
.terms-link.jumbotron{
    background-color: #eee;
    padding: 5px;

}
.container-fluid.with-nav-flex{
    display: flex;
}
.nav-flex{
    text-align: right;
    display: flex;
}
.container-fluid.bars{

}
.my_list_side_bar {
    border-right: 2px solid brown;
    background: rgba(223, 223, 223, 0.8);
    overflow-y: scroll;
    max-height: 80%;

}
.my_list_side_bar h3 {
    text-align: center;
}
.each_list_bar {
    background: rgba(223, 223, 223, 0.6);

}
.each_list_bar a.btn.btn-default {
    color : darkred;
}
.each_list_bar div {
    opacity: 1;
}
.hidden {
    display: none;
}
.a-panel:visited,.unlink:link{
    text-decoration: None;
    color: black;
}
.my_list_side_bar .panel {
    padding-left: 10px;
}
.pointer {
    cursor: hand;
}