{% extends "info/info.html" %}
{% block head %}
{{ super() }}
{% block title %}<title> Shopping list About us</title>{% endblock %}
{% endblock %}
{% block body %}
{% block navigation %}
{{ super() }}
{% endblock %}

{% block content %}
<!--put a centered jumbotron 3/4s of the page with opacity and a header of shl-->
<div class="row">
<div class="each_list_bar col-lg-2 col-md-2 col-sm-0 col-xs-0"></div>
<div class="each_list_bar col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div>
                <h3> {{ shl_list.name }} </h3>
            </div>
            <h5>date_created:{{ moment(shl_list.date_created).fromNow(refresh=True) }}</h5>
            <h5>date_last_modified: {{ moment(shl_list.date_last_modified).fromNow(refresh=True) }}</h5>

            <div class="jumbotron table-responsive">
                <table class="table table-hover table-striped">

                    <tr>
                        <th> S.no</th>
                        <th> item_name</th>
                        <th> quantity</th>
                        <th> Est.price</th>
                        <th> Description</th>
                        <th> total</th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for counter in range(shl_list.items | length) %}
                    <tr>
                        <td> counter</td>
                        <td> {{ shl_list.items[counter].name }}</td>
                        <td> {{ shl_list.items[counter].quantity }}</td>
                        <td> {{ shl_list.items[counter].price }}</td>
                        <td> {{ shl_list.items[counter].description }}</td>
                        <td> {{ shl_list.items[counter].amount }}</td>
                        <td></td>
                        <td></td>



                        <!-- Modal -->
                        <div id="deleteItemModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Confirm Item Deletion</h4>
                                    </div>
                                    <div class="modal-body text-center">
                                        <a href="{{ url_for('shl.delete_item',link_name=link_name, list_name=name,
                                 item_name=shl_list.items[counter].name, _external=True) }}" class="btn btn-default">
                                            <span class="glyphicon glyphicon-trash">delete</span></a>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Back
                                        </button><br>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </tr>
                    {% endfor %}

                </table>
                <div class="amount">
                    <span> Total Estimate: {{ shl_list.total }}</span>
                </div>

            </div>
            <div class="text-center">

                {% if current_user.is_authenticated %}
                <a href="{{ url_for('shl.index', link_name=link_name, _external=True) }}" class="btn btn-info">
                    HOME </a>
                {% else %}
                <a href="{{ url_for('shl.home', _external=True) }}" class="btn btn-info">
                    HOME </a>
                {% endif %}
            </div>
        </div>
        <div class="each_list_bar col-lg-2 col-md-2 col-sm-0 col-xs-0"></div>
        </div>

    </div>
{% endblock %}
{% endblock %}