<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping-list.com {# name of this list#} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type='image/x-icon' href="{{ url_for('static', filename='media/favicon.ico') }}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- My custom css file-->
    <!--link rel="stylesheet" href="{{ url_for('static', filename='style/css/shl.css') }}"-->
    <link rel="stylesheet" href="../static/style/css/shl.css">
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid with-nav-flex">
        <div class="navbar-header">
            <!-- review-->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--/review -->
            <a class="navbar-brand" href="{{ url_for('shl.index') }}">SHOPPING LIST.COM</a>
        </div>
        <div class="nav-flex">
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a data-toggle="modal" data-target="#myModal" href="#">
                        <span class="glyphicon glyphicon-plus"></span>add_item</a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> Account
                        <span class="caret"></span></a>


                        <ul class="dropdown-menu" role="menu">
                            <li class="divider"></li>
                            <li><a href="{{ url_for('shl.contact') }}"> contact us</a></li>
                            <li><a href="{{ url_for('shl.about') }}"> About</a></li>
                            <li><a href="{{ url_for('auth.logout') }}">Log out</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>

    </div>
</nav>

<div class="body-page">
    <!--The bod page will be primarily used to apply the background image , color and transparency-->
    {% with messages = get_flashed_messages(with_categories=true) %}
      <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="container bars row">
        <div class="my_list_side_bar col-lg-3 col-md-3 col-sm-0 col-xs-0">
            <h3> My lists</h3>
            {% for list in lists %}
            <a class="a-panel" href="{{ url_for('shl.view_items', list_name=list.name) }}">
                <div class="panel">
                    <h4>{{ list.name }}</h4>

                    <p> last_modified:{{ moment(list.date_last_modified).fromNow(refresh=True) }} </p>
                </div>
            </a>
            {% endfor %}

        </div>

        <div class="each_list_bar col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div>
                <h3> {{ shl_list.name }} </h3>
            </div>
            <h5>date_created:{{ moment(shl_list.date_created).fromNow(refresh=True) }}</h5>
            <h5>date_last_modified: {{ moment(shl_list.date_last_modified).fromNow(refresh=True) }}</h5>

            <div class="jumbotron table-responsive">
                <table class="table table-hover table-striped">

                    <tr>
                        <th> S.no</th>
                        <th> item_name</th>
                        <th> quantity</th>
                        <th> Est.price</th>
                        <th> Description</th>
                        <th> total</th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for counter in range(shl_list.items | length) %}
                    <tr>
                        <td> counter</td>
                        <td> {{ shl_list.items[counter].name }}</td>
                        <td> {{ shl_list.items[counter].quantity }}</td>
                        <td> {{ shl_list.items[counter].price }}</td>
                        <td> {{ shl_list.items[counter].description }}</td>
                        <td> {{ shl_list.items[counter].amount }}</td>
                        <td><a class="pointer" href="#" data-toggle="modal" data-target="#deleteItemModal"><span
                                class="glyphicon glyphicon-trash"></span> delete </a></td>
                        <td><a class="pointer" href="#" data-toggle="modal" data-target="#modifyItemModal{{counter}}"><span
                                class="glyphicon glyphicon-pencil"></span> edit </a></td>


                        <!-- Modal -->
                        <div id="modifyItemModal{{counter}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Modify Item Modal</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form class="" method="POST"
                                              action="{{ url_for('shl.view_items', list_name=name, _external=True) }}">
                                            <div class="input-group">
                                                {{ mod_form.csrf_token }}

                                                {{ mod_form.list_name(class='form-control hidden', value=name) }}
                                                {{ mod_form.old_name(class='form-control hidden',
                                                value=shl_list.items[counter].name) }}
                                                {{ mod_form.old_quantity(class='form-control hidden',
                                                value=shl_list.items[counter].quantity) }}
                                                {{ mod_form.old_price(class='form-control hidden',
                                                value=shl_list.items[counter].price) }}
                                                {{ mod_form.old_description(class='form-control hidden',
                                                value=shl_list.items[counter].description) }}

                                                {{ mod_form.name(class='form-control', placeholder= 'item-name',
                                                value=shl_list.items[counter].name) }}

                                                {{ mod_form.quantity(class='form-control', placeholder='quantity',
                                                value=shl_list.items[counter].quantity) }}

                                                {{ mod_form.price(class='form-control', placeholder='price',
                                                value=shl_list.items[counter].price) }}

                                                {{ mod_form.description(class='form-control', placeholder='description',
                                                value=shl_list.items[counter].description) }}

                                                {{ mod_form.add(class='btn btn-default') }}
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Return
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <!-- Modal -->
                        <div id="deleteItemModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Confirm Item Deletion</h4>
                                    </div>
                                    <div class="modal-body text-center">
                                        <a href="{{ url_for('shl.delete_item', list_name=name,
                                 item_name=shl_list.items[counter].name, _external=True) }}" class="btn btn-default">
                                            <span class="glyphicon glyphicon-trash">delete</span></a>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Return
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </tr>
                    {% endfor %}

                </table>
                <div class="amount">
                    <span> Total Estimate: {{ shl_list.total }}</span>
                </div>

            </div>
            <div class="text-center">
                <a href="{{ url_for('shl.delete_list', name=shl_list.name, _external=True) }}" class="btn btn-default">
                    DELETE LIST </a> &nbsp;&nbsp;&nbsp;

                <a href="{{ url_for('shl.index', _external=True) }}" class="btn btn-info">
                    BACK </a
            </div>
        </div>

    </div>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Item Modal</h4>
            </div>
            <div class="modal-body">
                <form class="" method="POST" action="{{ url_for('shl.view_items', list_name=name, _external=True) }}">
                    <div class="input-group">
                        {{ form.csrf_token }}
                        {{ form.list_name(class='form-control hidden', value=name) }}
                        {{ form.name(class='form-control', placeholder= 'item-name') }}
                        {{ form.quantity(class='form-control', placeholder='quantity') }}
                        {{ form.price(class='form-control', placeholder='price') }}
                        {{ form.description(class='form-control', placeholder='description') }}
                        {{ form.add(class='btn btn-default') }}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Return</button>
            </div>
        </div>

    </div>
</div>


</body>
</html>