<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping-list.com home </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type='image/x-icon' href="{{ url_for('static', filename='media/favicon.ico') }}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- My custom css file-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/css/shl.css') }}">
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid with-nav-flex">
        <div class="navbar-header">
            <!-- review-->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--/review -->
            {% if current_user.is_authenticated %}
            <a class="navbar-brand" href="{{ url_for('shl.index', link_name=session['user_id']) }}">SHOPPIN LIST.COM</a>
            {% else %}
            <a class="navbar-brand" href="{{ url_for('shl.home') }}">SHOPPING LIST.COM</a>
            {% endif %}
        </div>
        <div class="nav-flex">

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                    <li>
                        <a class="pointer" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span>Add
                            list</a>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> Account
                        <span class="caret"></span></a>


                        <ul class="dropdown-menu" role="menu">

                            <li><a href="{{ url_for('shl.contact') }}"> Contact us</a></li>
                            <li><a href="{{ url_for('shl.about') }}"> About </a></li>
                            <li><a href="{{ url_for('auth.logout') }}">Log out</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li><a  href="{{ url_for('auth.login') }}">Log in</a></li>
                    <li><a href="{{ url_for('auth.register') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
                    </li>
                    <li><a href="{{ url_for('shl.contact') }}"><span class="glyphicon glyphicon-envelope"></span>
                        Contact us</a></li>
                    <li><a href="{{ url_for('shl.about') }}"><span class="glyphicon glyphicon-exclamation-sign"></span>
                        About </a></li>
                    {% endif %}
                </ul>
            </div>

        </div>

    </div>
</nav>

<div class="body-page">
    <!--The bod page will be primarily used to apply the background image , color and transparency-->
    {% with messages = get_flashed_messages(with_categories=true) %}
      <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="container-fluid">

        {% for counter in range(0, lists_len) %}
        {% if (counter + 1) % 4 == 0 %}
        <div class="row">
            {% endif %}

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <!-- clickable cards-> remove the text decoration from text in panels-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="{{ url_for('shl.view_items',link_name=link_name, list_name=lists[counter].name, _external=True) }}">{{
                            lists[counter].name }}</a>
                    </div>
                    <a href="{{ url_for('shl.view_items',link_name=link_name, list_name=lists[counter].name, _external=True) }}"
                       class="unlink">
                        <div class="panel-body">
                            <h5> date_created <span class="list_details">{{ moment(lists[counter].date_created).format('LLL') }} </span>
                            </h5>
                            <h5><span class="list_details">{{ (lists[counter].items)| length}} </span> items</h5>
                            <h5> Total Est. : <span class="list_details"> {{ lists[counter].total }} </span></h5>
                            <h5> Last modified: <span class="list_details">{{ moment(lists[counter].date_last_modified).format('LLL') }} </span>
                            </h5>
                        </div>
                    </a>
                    {% if session['user_id'] == link_name %}
                    <div class="panel-footer text-center">
                        <a data-toggle="modal" data-target="#del{{counter}}"><span
                                class="glyphicon glyphicon-trash pointer">delete</span></a>
                        &nbsp;&nbsp;
                        <a data-toggle="modal" data-target="#tok{{counter}}"><span
                                class="glyphicon glyphicon-eye-open pointer">share</span></a>
                        &nbsp;&nbsp;
                    {% else %}
                    <div class="panel-footer text-center">
                        <a href="{{ url_for('shl.view_items',link_name=link_name, list_name=lists[counter].name, _external=True) }}">View items</a>
                    {% endif %}


                    <!-- share Modal -->
                        <div id="tok{{counter}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Your share Link</h4>
                                    </div>
                                    <div class="modal-body">
                                        <span class=""> {{ url_for('shl.share',link_name=link_name, token=lists[counter].name, _external=true) }}</span>
                                    </div>
                                    <div class="modal-footer text-center">
                                        <button type="button" class="btn btn-info" data-dismiss="modal">Back
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>



                        <!-- delete Modal -->
                        <div id="del{{counter}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Confirm delete action</h4>
                                    </div>
                                    <div class="modal-body">
                                        <a href="{{ url_for('shl.delete_list', link_name=link_name, name=lists[counter].name, _external=True) }}"
                                           class="btn btn-default">
                                            <span class="glyphicon glyphicon-trash">delete</span></a>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Return
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>

                        {% if session['user_id'] == link_name %}
                        <a data-toggle="modal" data-target="#{{counter}}"><span
                                class="glyphicon glyphicon-pencil">edit</span></a>
                                &nbsp;&nbsp;&nbsp;
                        {% endif %}

                        {% if session['user_id'] == link_name %}
                        <a href="{{ url_for('shl.view_items', link_name=link_name, list_name=lists[counter].name, _external=True) }}">Add items</a>
                        {% endif %}


                        <!-- delete Modal -->
                        <div id="{{ counter }}" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Modify list details</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form class="from-inline" method="POST"
                                              action="{{  url_for('shl.index', link_name=link_name, _external=True) }}">
                                            {{ modif_form.csrf_token }}
                                            {{ modif_form.old_name(class='form-control hidden',
                                            value=lists[counter].name )}}
                                            <div class="">

                                                {{ modif_form.name(class='form-control', placeholder=
                                                lists[counter].name) }}
                                                <div>
                                                {{ modif_form.public(checked=lists[counter].public) }} {{ modif_form.public.label }}
                                                </div>
                                                <div class="">
                                                    {{ modif_form.add(class='btn btn-default') }}
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Return
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>

            </div>
            {% if (counter + 1) % 4 == 0 %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
</div>
{{ moment.include_moment() }}


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create a list name</h4>
            </div>
            <div class="modal-body">
                <form class="" method="POST" action="{{ url_for('shl.index', link_name=link_name, _external=True) }}">
                    <div class="">
                        {{ form.csrf_token }}
                        {{ form.name(class='form-control', placeholder= 'list-name') }}


                        <div>
                        {{ form.public(value=False) }} {{ form.public.label }}
                        </div>
                        <div class="">
                            {{ form.add(class='btn btn-default') }}

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
            </div>
        </div>

    </div>
</div>


</body>
</html>