{% extends sub_base.html %}
{% block head %}
    {{ super() }}
    {% block title %}{{ super() }}{% endblock title %}
{% endblock head%}
{% block body %}
    {{ super() }}
{% block navigation %}
{% endblock navigation %}
    {{ super }}
    {% block content %}
    <!--put a centered jumbotron 3/4s of the page with opacity and a header of shl-->
    <div class="container">
          <div class="jumbotron">
            {% block jumbo_header %}{% block jumbo_header %}
            {% block jumbo-info %}{% block jumbo_info %}
          </div>

</div>
    {% endblock content %}
{% endblock body %}
